form{
    background-color: rgb(65, 39, 179);
    width:50%;
    margin: auto;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color:wheat;

}
legend{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;

}

input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    height: 40px;
    padding-left: 10px;
    margin-top: 10px 0;
    border: none;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
input[type="submit"]:hover {
    background-color: #45a049;
} 
button{
    background-color: #008CBA;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
} 
body{
    background-image: url('../assets/register-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
