h1{
    text-align: center;

    color: #333333;

}

h2{
    text-align: center;
    font-size: 40px;

    color: #666666;

}

#new{
    text-align: center;
    font-size: 35px;
    background-color: #333333;

    color: #999999;

}

.ting{
    text-align: justify;
    font-size: 20px;

    color: #444444;

}