h1{
    text-align: center;
    font-size: 50px;
}

#heading1{
    color: rgb(236, 28, 5);
}

.paragraph{
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#vip{
    background-color: antiquewhite;
    display: flex;
    margin: 80px;
    padding: 30px;
    border-radius: 20px;
}



#vip:hover{
    background-color: rgb(71, 134, 189);
}

#vip img{
    margin-right: 40px;
    border-radius: 200px;
}

#shipping{
    display: flex;
    margin: 40px;
}

#mydiv{
    margin-left: 40px;
}



